body{
    margin: 0;
    
}



#top{
    background: #1abc9c;
    width: 100%;
    color: white;
    cursor: default;
    
}

#middle{
    width: 100%;
    padding: 10px;
    background: #ecf0f1;
}

#bottom{
    width: 100%;
    background: #2980b9;
    color: white;
    padding: 30px;
    cursor: default;
}

#AVN{

    font-size:2.5em;
    margin:auto auto auto 0;
    user-select: none;
    color: white;
}

#login{
    
    max-width: 240px;
    margin: 50px;
    
}

.contents{
    
    padding: 20px;
}

.inp{
    padding: 4px;
}

#avnimg{
    
    width: 100%;
}